
#Directory-based project format
**/.idea/
## File-based project format
*.ipr
*.iws
*.iml

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#libs
**/node_modules/
NodeJsLibary/lodash.js
#file which is used by Dolphi
**/.directory
